:root {
    --background: #fff;
    --gap: 12px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: gray;
    padding: 24px;
    border-radius: 8px;
    width: min(90vw, 420px);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.screen {
    background-color: #e7e7e7;
    border-radius: 4px;
    height: min(20vw, 100px);
    width: 100%;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen-last,
.screen-current {
    width: 100%;
    text-align: right;
}

.screen-last {
    font-size: .6em;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.btn {
    border: none;
    border-radius: 4px;
    background-color: hsl(0, 0%, 90%);
    color: #000;
    font: inherit;
    cursor: pointer;
}

.btn:hover,
.btn.keyflash {
    background-color: hsl(0, 0%, 60%);
}

.btn-red {
    background-color: hsl(0, 100%, 70%);
}

.btn-red:hover,
.btn-red.keyflash {
    background-color: hsl(0, 50%, 50%);
}

.button-grid > .btn {
    flex: 0 0 calc((100% - 3 * var(--gap)) / 4);
    aspect-ratio: 1;
    font-size: inherit;
    line-height: 1;
}

.button-grid > .btn-wide {
    flex: 0 0 calc((100% - var(--gap)) / 2);
    aspect-ratio: 2;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}