:root {
    --background: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: grey;
    padding: 8px;
    border-radius: 8px;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
}

.button-grid > .btn {
    flex: 0 0 calc(100% / 4);
}

.button-grid > .span-2 {
    flex: 0 0 50%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}